# ==========================================
# C++ Compiled Binaries and Objects
# ==========================================
*.o
*.obj
*.so
*.a
*.la
*.lo
*.out
*.exe
*.app
*.exe
*.out
*.bin

# ==========================================
# CMake and Build Directories
# ==========================================
# Ignores build folders
build/

# ==========================================
# IDE and Text Editors
# ==========================================
# Qt Creator 
*.user
*.user.*

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json